html {
  box-sizing: border-box;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: poppins, sans-serif;
  border: 1px solid;
}

h1,
h2,
h3 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  color: black;
}

p {
  margin-top: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #344563;
  margin-right: 12px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

a,
a::before,
a::after {
  text-decoration: none;
  color: inherit;
  align-items: center;
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #344563;
  padding: 16px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  align-items: center;
  height: 50px;
}

.logo-info {
  font-size: 18pt;
  font-weight: 700;
  line-height: 74%;
  text-align: left;
  left: 12px;
  top: 10px;
  vertical-align: center;
  text-decoration: none;
  color: #6070ff;
  margin: 0;
  padding: 0;
  animation: rotation 1s ease-in;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-menu .menu-cancel {
  text-align: right;
  padding-top: 19px;
  padding-right: 6px;
  left: 100%;
  color: #fff;
}

.nav-menu ul {
  color: #fff;
  line-height: 70px;
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  padding-top: 16px;
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  transition: 0.7s ease;
}

.nav-item :hover {
  color: dodgerblue;
}

.nav-link {
  color: #fff;
  line-height: 50px;
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  padding-left: 10%;
}

.welcome {
  color: #344563;
  padding: 16px;
  background-color: #fff;
  background-image: url("images/header-shapes\ mobile@2x.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 250px;
  border-bottom-left-radius: 70px;
}

.welcome-container {
  padding-top: 200px;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 12px;
}

.title {
  font-size: 50px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0.01em;
  text-align: left;
}

.detailed-description {
  padding-top: 12px;
  color: #344563;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.connect {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #7f8cff;
  padding-top: 12px;
  padding-bottom: 12px;
}

.social-media {
  color: solid #000;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

.project-card {
  border-radius: 16px;
  border: solid 1px;
  padding: 16px;
  color: #344563;
  max-width: 400px;
  margin: auto;
  background-color: #fff;
  height: 100vh;
}

.snapshot-portfolio-img {
  width: 100%;
  border-radius: 8px;
}

.project-text {
  margin-top: 1rem;
}

.project-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 44px;
  color: #172b4d;
}

.counter {
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.canopy {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #344563;
}

.canopy-text {
  display: flex;
  padding: 0;
  justify-content: left;
  gap: 1.25rem;
  letter-spacing: 0.05em;
  list-style-type: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.primary-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #344563;
}

.programming-languages {
  color: #000;
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 12px;
  padding: 0;
}

.languages .btn {
  border-radius: 8px;
  padding: 4px 12px;
  background-color: #ebebff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
}

.languages .programming-languages .btn:hover {
  color: #75a20c;
}

.languages {
  padding-top: 12px;
  padding-bottom: 12px;
}

.text-see-project {
  padding-top: 12px;
  cursor: pointer;
}

.see-project-button {
  border-radius: 8px;
  padding: 12px;
  border: solid 1px #396df2;
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  transition: all 200ms ease;
  cursor: pointer;
}

.see-project-button :active {
  color: #fff;
}

.text-see-project .see-project-button:hover {
  background-color: #396df2;
  border: solid 1px #396df2;
  color: #fff;
  cursor: pointer;
}

.text-see-project .see-project-button:active {
  background-color: #2230d2;
  border: solid 1px #2230d2;
  color: #fff;
}

.about-myself-section {
  color: #344563;
  border-radius: 16px;
  padding-top: 114px;
  margin-bottom: 0.01px;
  background-color: #fff;
  align-items: center;
}

.top {
  margin-top: 70px;
  border-top-right-radius: 90px;
  padding-top: 114px;
  padding-left: 44px;
  background-color: #fff;
}

.info-title {
  font-size: 56px;
  line-height: 72px;
  font-weight: 700;
  color: #172b4d;
  letter-spacing: 0.01em;
  text-align: left;
}

.myself-btn {
  padding: 12px 0;
}

.resume {
  border-radius: 8px;
  border: solid 1px #6070ff;
  padding: 12px;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;
  transition: all 1s ease 0.15s;
}

.myself-btn .resume:hover {
  background-color: #6070ff;
  color: #fff;
}

.skill-list {
  width: 100%;
  border-radius: 0.01px;
  padding: 8px 16px;
  gap: 24px;
  background-color: #fff;
}

.skill-info {
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  padding: 32px 0;
}

.languages-btn {
  background-color: transparent;
  border: none;
}

.list-frames {
  padding-left: 0;
  list-style-type: none;
}

.framework-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.framework {
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  line-height: 24px;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-decoration: none;
}

.frame-8-btn {
  background-color: transparent;
  border: none;
}

.frame-7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  margin: auto;
  padding: 1rem;
  padding-left: 0;
}

.skills {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  line-height: 24px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-decoration: none;
}

.frame-9 {
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.frame-9 span {
  font-size: 15px;
  font-weight: 500;
  color: #253858;
}

.contact-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}

.contact-title :hover {
  font-family: Times, serif;
  transform-origin: 0% 100%;
  animation: grow 5s ease-out;
  animation-fill-mode: forwards;
}

.content-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ebebff;
  transition: 1s ease-in 0.5s;
}

.content-text:hover {
  transform: translate(5%);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: #fff;
  padding-bottom: 20px;
}

.contact-form :focus {
  background-color: lightblue;
}

.footer-field input,
.footer-field textarea {
  width: 95%;
  padding: 1rem;
  border: solid 1px #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
}

.footer-field textarea {
  resize: none;
}

#name {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #172b4d;
}

#email {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #172b4d;
}

#message {
  font-weight: 400;
  font-size: 15px;
  color: #b3bac5;
}

.footer-text {
  align-self: center;
}

.footer-button {
  padding: 1rem;
  border: solid 1px #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.footer-text .footer-button {
  text-align: center;
  padding: 1rem;
  border: solid 1px #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
}

.footer-button:disabled {
  color: #5e6c84;
  background-color: #e5e5e5;
  border: solid 1px #5e6c84;
}

.footer-button:focus,
.footer-button:active {
  background-color: #2230d2;
  color: #fff;
  transition: none;
}

.footer-text .footer-button:hover {
  background-color: #6070ff;
  color: #fff;
  border: solid #6070ff;
  font-size: 17px;
}

.footer-section {
  border-top-left-radius: 80px;
  display: flex;
  justify-content: center;
  background-color: #396df2;
  background-image: url("images/contact-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 24px 0;
}

/* modal-window styles */

.modal-window {
  display: none;
}

.modal-window.active {
  display: block;
}

.modal-header {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 44px;
  color: #172b4d;
}

.modal-canopy {
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal-text {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #344563;
}

.modal-canopy-text {
  display: flex;
  padding: 0;
  justify-content: left;
  gap: 1.25rem;
  letter-spacing: 0.05em;
  list-style-type: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.modal-snapshot-portfolio-img {
  display: none;
}

.modal-supporting-text {
  display: grid;
  gap: 12px;
  border-radius: 16px;
  padding: 16px 0;
}

.modal-paragraph {
  padding-top: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.modal-technologies {
  display: flex;
  list-style-type: none;
}

.modal-front {
  display: flex;
  margin-bottom: 12px;
}

.tech {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.modal-button {
  display: flex;
}

.modal-btn {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  border: 1px solid rgb(140, 140, 230);
  color: #6070ff;
  border-radius: 12px;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  width: 8rem;
  gap: 12px;
  padding: 8px;
}

.modal-btn:hover {
  background-color: #6070ff;
  color: white;
}

.modal-back {
  display: none;
}

.mobile-cards {
  margin-top: 24px;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 98vh;
  background-color: #6070fff0;
  mix-blend-mode: multiply;
  backdrop-filter: blur(10px);
  padding: 16px;
  text-align: right;
}

.close-modal {
  position: absolute;
  z-index: 2;
  right: 10%;
  top: 4%;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal-content {
  padding: 12px;
  width: 90%;
  height: 70%;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  justify-content: center;
}

@media (max-width: 768px) {
  .desktop-cards {
    display: none;
  }

  .desktop-snapshot-portfolio-img {
    display: none;
  }

  .paragraph {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }

  .nav-menu {
    line-height: 74%;
    left: 12px;
    top: 10px;
    width: 100%;
    height: 98vh;
    padding-top: 16px;
    text-align: right;
    background-color: transparent;
  }

  .nav-menu img {
    display: none;
  }

  .nav-menu ul {
    display: flex;
    gap: 16px;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 60%;
    width: 100%;
    padding-top: 16px;
    color: #344563;
    line-height: 0px;
    font-weight: 500;
    font-size: 32px;
  }

  .nav-link {
    color: #344563;
    line-height: 44px;
    font-weight: 600;
    font-size: 32px;
    text-align: left;
    padding-right: 16%;
  }

  .welcome {
    background-image: url("desktop/Header-bg.svg");
    margin-bottom: 114px;
  }

  .welcome-container {
    padding-top: 200px;
  }

  .title {
    font-size: 47px;
    line-height: 55px;
    width: 400px;
    letter-spacing: 0.37px;
    animation: s reverse translation linear;
  }

  @keyframes translation {
    from {
      translate: 200px;
    }

    to {
      translate: 20px;
    }
  }

  .detailed-description {
    padding-right: 5%;
  }

  .connect {
    margin-top: 0;
    padding-top: 12px;
  }

  /* desktop modal window styles */

  .modal-content {
    padding: 16px;
    width: 90%;
    height: 70%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    align-content: center;
  }

  .modal-paragraph {
    display: none;
  }

  .mobile-cards {
    display: none;
  }

  .desktop-cards {
    padding: 36px 44px;
  }

  .languages li {
    border-radius: 8px;
    padding: 4px 12px;
    background-color: #ebebff;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #6070ff;
  }

  .project-card {
    display: flex;
    gap: 5vw;
    align-items: center;
    max-width: 100vw;
  }

  .project-text {
    margin-top: 0;
    margin-top: 1rem;
    width: 60vw;
  }

  .desktop-cards:nth-child(2) {
    flex-flow: row-reverse;
  }

  .desktop-cards:last-child {
    flex-flow: row-reverse;
  }

  .modal-supporting-text {
    display: flex;
  }

  .paragraph {
    padding-top: 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .modal-technologies {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
  }

  .modal-front {
    display: flex;
    left: 0;
    top: 0;
    border-radius: 0;
  }

  .modal-back {
    display: flex;
    left: 0;
    border-radius: 0;
  }

  .modal-button {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
  }

  .close-modal {
    position: absolute;
    z-index: 1000;
    right: 10%;
    top: 4%;
    cursor: pointer;
    border: 0;
    background-color: #fff;
  }

  .modal-image-mobile {
    display: none;
  }

  .mobile-snapshot-portfolio-img {
    display: none;
  }

  .about-myself-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 0;
    padding-right: 20px;
    background-color: #fff;
  }

  .top {
    width: 40%;
    top: 24px;
    border-radius: 0.01px;
  }

  .info-title {
    font-size: 70px;
    margin-bottom: 0;
  }

  .social-media li {
    margin-right: 24px;
    padding-top: 12px;
  }

  .myself-btn {
    padding-top: 12px;
    margin-bottom: 12px;
  }

  .list-frames {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }

  .frame-9 {
    background-color: #f7f7f9;
    border-radius: 8px;
    margin-bottom: 12px;
    gap: 2rem;
    height: 120px;
    width: 122px;
    padding-left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .frame-9 span {
    display: grid;
    grid-column: auto;
    height: 500px;
    align-content: space-between;
    gap: 2rem;
    padding-top: 16px;
  }

  .footer-section {
    padding-top: 0%;
    margin-top: 0;
    background-color: #6070ff;
    background-image: url("desktop/contact\ form\ background\ shapes@2x.png");
    background-size: contain;
    background-position: bottom left, right top;
    background-repeat: no-repeat;
  }

  .contact-me-form {
    color: #344563;
    padding: 24px;
    margin: auto;
    gap: 12px;
    border-top-left-radius: 80px;
  }

  .contact-title {
    padding-left: 30%;
    padding-right: 30%;
  }

  .content-text {
    font-size: 30px;
    line-height: 34px;
    padding-left: 20%;
    padding-right: 20%;
  }

  .contact-form {
    padding-left: 20%;
    padding-right: 20%;
  }

  .footer-text .footer-button :focus :active {
    background-color: #2230d2;
    color: #fff;
  }

  .footer-text .footer-button:disabled {
    color: #5e6c84;
    background-color: #e5e5e5;
    border: solid 1px #5e6c84;
  }

  .footer-text .footer-button:focus,
  .footer-text .footer-button:active {
    background-color: #2230d2;
    color: #fff;
    transition: none;
  }

  .my-btn a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }

  .my-btn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 18.5%;
    left: 97.25%;
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    background-color: transparent;
    padding: 0.5px;
    border: none;
  }

  .my-btn:hover {
    background-color: #7dbbf1;
  }
}
